<HTML>
  <script src="{{ url_for('static', filename='js/fhh_build_pedigree.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='js/fhh_display_pedigree.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='js/fhh_load.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='js/fhh_move.js') }}" type="module"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pedigree.css') }}">

<TITLE> Pedigree Drawing </TITLE>
<BODY>
  <DIV class="grid-container">
    <DIV class='navbar grid-item'>
      <div class='debug-block'>
        Special Actions:<br/>
        <BUTTON id='log-button'>LOG</BUTTON>
        <BUTTON id='clear-alert-button'>Clear Alerts</BUTTON>
        <br/><button id="save-family-button" style="display:none;"> Save Family </button>
        <button id="save-button"> Save Annotations </button>

      </div>
      <div class="file-block">
       Study:
        <SELECT id="study_select">
          <OPTION> </OPTION>
          <OPTION> This is where we list the studies </OPTION>
        </SELECT>
        <br/>Family:
        <SELECT id="families_select">
          <OPTION> </OPTION>
          <OPTION> This is where we list the pedigrees </OPTION>
        </SELECT>
        <div id="build-mode-actions" class="build-mode-actions" style="display:none;">
          <button id="new-study-button" type="button">New Study</button>
          <button id="new-family-button" type="button">New Family</button>
        </div>
      </div>
      <div class="radio-block"> Action Mode: <br />
        <input type="radio" id="details" name="action_choice" value="details" checked="checked">
        <label for="details">Details</label>

        <input type="radio" id="slide" name="action_choice" value="slide">
        <label for="slide">Slide</label>

        <input type="radio" id="free" name="action_choice" value="free">
        <label for="free">Free</label>


        <input type="radio" id="annotate" name="action_choice" value="annotate">
        <label for="annotate">Annotate</label>
      </DIV>
    </DIV>
    <DIV class='alertbar grid-item' id='alert'>
    </DIV>
    <DIV class="textblock grid-item" id="details_textbox">  
        <div id="study_text" class="study-display-section"> <button> Close </button> </div>
        <div id="summary_text" class="summary-display-section"> <button> Close </button> </div>
        <div id="person_details" class="person-display-section">
          <div id="person_demographics">  </div>
          <div id="person_diagnoses">  </div>
          <div id="person_procedures">  </div>
          <br />
          <hr />        
          <div id="raw_data_button">  Show Raw Data </div>
          <div id="raw_data_text"></div>
        </div>
    </DIV>
    <DIV class="fhh_pedigree grid-item" id="main" style='overflow-y: scroll;'>
      Please choose a family from the dropdown above.
    </DIV>
  </DIV>

</BODY>
</HTML>
